
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="shortcut icon" href="~/assets/img/qwertyui.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <script src="~/assets/jquery/jquery1/jquery.min.js"></script>
    <script src="~/assets/js/scripyt.js"></script>

    <style>
        h1,
        p,
        strong,
        span,
        label,
        a,
        input {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    </style>


</head>
<body>
    <header class="cabeza"> Bienvenido</header>


    <div class="login-box">
        <img class="avatar" src="img/icono4.jpg" alt="">
        <h1>Login</h1>

        <form action="@Url.Content("~/Acceso/Login")" method="post">
            <!--Username-->
            <label for="Username" class="animate__animated animate__fadeInBottomRight"> Nombre de Usuario</label><br>
            <input type="text" name="User" class="animate__animated animate__fadeInBottomLeft" placeholder="Usuario" required>

            <!-- Password-->
            <label for="Password" class="animate__animated animate__fadeInBottomRight"> Contraseña</label><br>
            <input type="password" name="pass" class="animate__animated animate__fadeInBottomLeft" placeholder="Contraseña"
                   required>
            <input type="submit" value="Entrar">
            <hr>
           <input type="button" onclick="document.location.href='@Url.Content("~/Registros/Registro")'" value="Registrarse" />
        </form>
        <p>@ViewBag.Error</p>
    </div>

</body>

</html>
