
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout_Cliente.cshtml";
}

<h2>Reserva de Vuelos</h2>
<hr />
<div class="col-md-12">
    @using (Html.BeginForm("InsertarReserva", "Home", FormMethod.Post, new { @id="aero"}))
    {
        <div class="col-md-2">
            <div class="form-group">
                <label>Origen</label>
                @Html.DropDownList("Origen", (SelectList)ViewBag.Origen, "<< Seleccione >>", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Destino</label>
                @Html.DropDownList("Destino", (SelectList)ViewBag.Destino, "<< Seleccione >>", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Salida</label>
                <input type="date" class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Retorno</label>
                <input type="date" class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Asientos de Reserva</label>
                <input type="number" class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Su Aerolinea</label>
                <select id="aerolineas" class="form-control">
                </select>
            </div>
        </div>
    }
    <script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-1.10.2.js">
        $(document).ready(function () {
            $("#aerolineas").prop("disabled", true);
            $("#Origen").change(function () {
                if ($("#Origen").val() != "") {
                    var options = {};
                    options.url = "@Url.Content("~/Home/TraerAerolineas")";
                    options.type = "POST";
                    options.data = JSON.stringify({ region: $("#Origen").val() });
                    options.dataType = "json";
                    options.contentType = "application/json";
                    options.success = function (aerolineas) {
                        $("#aerolineas").empty();
                        for (var i = 0; i < aerolineas.length; i++) {
                            $("#aerolineas").append("<option>" + aerolineas[i] + "</option>");
                        }
                        $("#aerolineas").prop("disabled", false);
                    };
                    options.error = function () { alert("No se pudo obtener una aerolinea"); };
                    $.ajax(options);
                }
                else {
                    $("#aerolineas").empty();
                    $("#aerolineas").prop("disabled", true);
                }
            });
        });
    </script>
</div>

<!--
    <div class="col-md-12">
    <div class="col-md-3">
        <div class="form-group">
            <label>Asientos de Reserva</label>
            <input type="number" class="form-control" />
        </div>
    </div>
</div>
-->


